@keyframes hidemessage {
    to {
        top: -50px;
        opacity: 0;
    }
}

.massages {
    display: flex;
    justify-content: center;
    padding: 16px;
    position: absolute;
    width: 100%;
    color: white;
    top: 0;
    opacity: 1;

    animation: hidemessage 400ms 5s ease-out forwards;
}

.massages.error {
    background-color: #e74c3c;
}

.massages.success {
    background-color: #7ab61e;
}